*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  background: #fab1a0;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
}


.section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: capitalize;
    padding-inline: 8%;
    will-change: transform;
}

.section:nth-child(odd)
{
    align-items: flex-end;
}

.section__heading {

  font-size: 5rem;
  text-transform: uppercase;
  white-space: break-spaces;
}

.section:nth-child(odd) > .section__heading {
  text-align: end;
}


.section__para {
  font-size: 2rem;
}

.section__btn {
  margin-top: 16px;
  font-size: 2rem;
  outline: none;
  border: 1px solid #fff;
  padding: 16px 48px;
  background-color: transparent;
  border-radius: 999px;
  color: #fff;
  transition: .5s;
}
.section__btn:hover {
  background-color: #a29bfe;
}